<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZz26edVnNkM5YxzmxYLNdkaddNDg4dRI</string>
	<key>GCM_SENDER_ID</key>
	<string>9887388027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rpascual0812.jfcinventory</string>
	<key>PROJECT_ID</key>
	<string>jfc-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>jfc-inventory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9887388027:ios:cd7ab4939cc28bacc4edde</string>
</dict>
</plist>